{% extends "components/base_internal_part.html" %}

{% block content %}
<!-- {{primer_nombre}} {{apellido}} -->
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Mis pedidos</h5>
                
                <p class="card-text">Acá para crear un pedido y un botón para crear clientes</p>
                
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Listado</h5>
                <p class="card-text">Acá botón de listado.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Rutas de pedidos</h5>
                <p class="card-text">Acá botón de ruta de pedidos</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title"><i class="fa-solid fa-user"></i> Contacto</h5>
                </div>
            </div>
        </div>
    </div>
{% endblock%}