{% extends "components/base_internal_part.html" %}

{% block content %}
<!-- {{primer_nombre}} {{apellido}} -->
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Crear pedido</h5>
                
                <p class="card-text"><a href="{% url 'nuevo_pedido' %}" class="btn btn-primary me-3">Crear pedido</a></p>
                <p class="card-text"><a href="{% url 'nuevo_emprendedor' %}" class="btn btn-primary me-3">Agregar emprendedor</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Listado de pedidos</h5>
                <p class="card-text"><a href="{% url 'listado_pedidos' %}" class="btn btn-primary me-3">Listado de pedidos</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Rutas de pedidos</h5>
                <p class="card-text"><a href="{% url 'listado_rutas' %}" class="btn btn-primary me-3">Rutas de pedidos</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock%}