{% extends "components/base_internal_part.html" %}

{% block content %}



<div class="row">
    <div class="col">Estado de entrega</div>
    <div class="col">Productor</div>
    <div class="col">Pedido</div>
    <div class="col">Fecha de entrega</div>
    <div class="col">Dirección de entrega</div>
    <div class="col">Comuna</div>
    <div class="col">Nombre de cliente</div>
    <div class="col">Teléfono de cliente</div>
</div>
{% for element in pedidos %}
<div class="row">
    <div class="col">{{element.id_estado}}</div>
    <div class="col">{{element.id_productor}}</div>
    <div class="col">{{element.id}}</div>
    <div class="col">{{element.fecha_entrega | date:'d-m-Y' }}</div>
    <div class="col">{{element.direccion_cliente}}</div>
    <div class="col">{{element.comuna_cliente}}</div>
    <div class="col">{{element.nombre_cliente}}</div>
    <div class="col">{{element.telefono_cliente}}</div>
</div>
{% endfor %}

{% endblock%}