.navbar-color { 
    background-color: #ffa600;
}

.footer{
    background-color: #ffa600;
    text-align: center;
}

.div-logo{
    width: 205px;
    height: 205px;
    background-image: url("/static/images/logo.png");
    margin: 0 auto;
}

.logo-navbar{
    width: 30px;
    height: 30px;
}

.logo-footer{
    width: 50px;
    height: 50px;
}